
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p class="first"> To know more about website head over to About section   </p>
    <p>Made by Mani Sandeep  ECE undergrad IIT ISM Dhanbad (Contact : 9346914615)</p>

  </div>
</div>
</body>
</html>
