<%- include('partials/header') -%>
<div class="container about"  > 
    <h1 class="title"> About</h1>
    <p>ISM Blog is a blog website where one can view all blogs written by people.</p>
    <p>To add a blog please head over to compose section present at the top. </p>
    <p> Please add the content related to IIT ISM campus. </p>
    <p> As this is a community website please try to keep your post Respectful. </p>
    <p>Please try to keep your post compact and impactful. </p>
    <p>Please do not put up your personal grievances here, look out for the matter that is genuine and affects a large number of students.</p>
    <p> For healthy environment of the website posts found irrelevant or abuse will be deleted automatically.</p>
    <p>In case of any query regarding the page or any feedback, feel free to reach out to me!! </p>
</div>
<%- include('partials/footer') -%>